.routes-austria-apostille .routes-austria-apostille_content p {
  font-size: 18px;
  line-height: 1.7;
  text-align: justify;
}
.routes-austria-apostille .routes-austria-apostille_content ul {
  font-size: 18px;
  list-style-type: disc;
  margin-left: 18px;
  line-height: 1.9;
}
.routes-austria-apostille .routes-austria-apostille_content a {
  outline: none;
  text-decoration: none;
  font-weight: 600;
}
.routes-austria-apostille .routes-austria-apostille_content a:link {
  color: #265301;
}
.routes-austria-apostille .routes-austria-apostille_content a:visited {
  color: #437a16;
}
.routes-austria-apostille .routes-austria-apostille_content a:focus {
  border-bottom: 1px solid;
  background: #bae498;
}
.routes-austria-apostille .routes-austria-apostille_content a:hover {
  border-bottom: 1px solid;
  background: #cdfeaa;
}
.routes-austria-apostille .routes-austria-apostille_content a:active {
  background: #265301;
  color: #cdfeaa;
}
@media only screen and (max-width: 1023px) {
  .routes-austria-apostille .routes-austria-apostille_content p {
    font-size: 14px;
    font-weight: 500;
  }
  .routes-austria-apostille .routes-austria-apostille_content ul {
    font-size: 14px;
  }
}
