.atom-button {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
}
.atom-button.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-extra-small-black {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #3E403F;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  height: 18px;
  padding: 2px 5px;
  text-transform: none;
}
.atom-button-extra-small-black.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-extra-small-black:hover {
  background-color: #222423;
}
.atom-button-small-black {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #3E403F;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  height: 25px;
  padding: 3px 8px;
}
.atom-button-small-black.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-small-black:hover {
  background-color: #222423;
}
.atom-button-large-black {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #3E403F;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 35px;
  height: 35px;
  padding: 3px 15px;
}
.atom-button-large-black.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-large-black:hover {
  background-color: #222423;
}
.atom-button-extra-small-white {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #FFFFFF;
  color: #3E403F;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  height: 18px;
  padding: 2px 5px;
  text-transform: none;
}
.atom-button-extra-small-white.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-extra-small-white:hover {
  background-color: #e3e3e3;
}
.atom-button-small-white {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #FFFFFF;
  color: #3E403F;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  height: 25px;
  padding: 3px 8px;
}
.atom-button-small-white.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-small-white:hover {
  background-color: #e3e3e3;
}
.atom-button-large-white {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #FFFFFF;
  color: #3E403F;
  font-size: 14px;
  font-weight: 700;
  line-height: 35px;
  height: 35px;
  padding: 3px 15px;
}
.atom-button-large-white.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-large-white:hover {
  background-color: #e3e3e3;
}
.atom-button-extra-small-azure {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #F0FFFF;
  color: #3E403F;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  height: 18px;
  padding: 2px 5px;
  text-transform: none;
}
.atom-button-extra-small-azure.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-extra-small-azure:hover {
  background-color: #b8ffff;
}
.atom-button-small-azure {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #F0FFFF;
  color: #3E403F;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  height: 25px;
  padding: 3px 8px;
}
.atom-button-small-azure.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-small-azure:hover {
  background-color: #b8ffff;
}
.atom-button-large-azure {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #F0FFFF;
  color: #3E403F;
  font-size: 14px;
  font-weight: 700;
  line-height: 35px;
  height: 35px;
  padding: 3px 15px;
}
.atom-button-large-azure.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-large-azure:hover {
  background-color: #b8ffff;
}
.atom-button-extra-small-lightskyblue {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #87CEFA;
  color: #3E403F;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  height: 18px;
  padding: 2px 5px;
  text-transform: none;
}
.atom-button-extra-small-lightskyblue.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-extra-small-lightskyblue:hover {
  background-color: #51b8f8;
}
.atom-button-small-lightskyblue {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #87CEFA;
  color: #3E403F;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  height: 25px;
  padding: 3px 8px;
}
.atom-button-small-lightskyblue.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-small-lightskyblue:hover {
  background-color: #51b8f8;
}
.atom-button-large-lightskyblue {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #87CEFA;
  color: #3E403F;
  font-size: 14px;
  font-weight: 700;
  line-height: 35px;
  height: 35px;
  padding: 3px 15px;
}
.atom-button-large-lightskyblue.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-large-lightskyblue:hover {
  background-color: #51b8f8;
}
.atom-button-extra-small-orangered {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #ff7d4d;
  color: #3E403F;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  height: 18px;
  padding: 2px 5px;
  text-transform: none;
}
.atom-button-extra-small-orangered.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-extra-small-orangered:hover {
  background-color: #ff5415;
}
.atom-button-small-orangered {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #ff7d4d;
  color: #3E403F;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  height: 25px;
  padding: 3px 8px;
}
.atom-button-small-orangered.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-small-orangered:hover {
  background-color: #ff5415;
}
.atom-button-large-orangered {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #ff7d4d;
  color: #3E403F;
  font-size: 14px;
  font-weight: 700;
  line-height: 35px;
  height: 35px;
  padding: 3px 15px;
}
.atom-button-large-orangered.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-large-orangered:hover {
  background-color: #ff5415;
}
.atom-button-extra-small-teal {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #008080;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  height: 18px;
  padding: 2px 5px;
  text-transform: none;
}
.atom-button-extra-small-teal.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-extra-small-teal:hover {
  background-color: #004848;
}
.atom-button-small-teal {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #008080;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  height: 25px;
  padding: 3px 8px;
}
.atom-button-small-teal.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-small-teal:hover {
  background-color: #004848;
}
.atom-button-large-teal {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #008080;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 35px;
  height: 35px;
  padding: 3px 15px;
}
.atom-button-large-teal.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-large-teal:hover {
  background-color: #004848;
}
.atom-button-extra-small-dodgerblue {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #009BFF;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  height: 18px;
  padding: 2px 5px;
  text-transform: none;
}
.atom-button-extra-small-dodgerblue.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-extra-small-dodgerblue:hover {
  background-color: #0079c7;
}
.atom-button-small-dodgerblue {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #009BFF;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  height: 25px;
  padding: 3px 8px;
}
.atom-button-small-dodgerblue.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-small-dodgerblue:hover {
  background-color: #0079c7;
}
.atom-button-large-dodgerblue {
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  display: inline-block;
  background-color: #009BFF;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 35px;
  height: 35px;
  padding: 3px 15px;
}
.atom-button-large-dodgerblue.disabled {
  pointer-events: none;
  background-color: lightgray !important;
}
.atom-button-large-dodgerblue:hover {
  background-color: #0079c7;
}
