.routes-saudi-visastamping_content p,
.routes-saudi-visastamping_content ul {
  font-size: 16px;
}
.routes-saudi-visastamping_content ul {
  list-style-type: disc;
  line-height: 1.7;
  margin-left: 12px;
}
@media only screen and (max-width: 1023px) {
  .routes-saudi-visastamping .educationalCertificateAttestation {
    margin-top: 18px;
  }
}
