.route-apostille {
    &-container {
        width: 100%;
        &_headerImage {
            height: 230px;
            background-repeat: no-repeat;
            background-position: center;
            filter: brightness(0.55);

            & + h2 {
                position: relative;
                top: -135px;
                color: white;
                height: 0px;
            }
        }

        &_editorial {
            .organism-editorial {
                &-body {
                    p {
                        font-size: 17px;
                    }
                }
            }
        }

        ul {
            list-style-type: disc;
            line-height: 1.7;
            margin-left: 48px;
            font-size: 17px;
            font-weight: 500;
        }
        p {
            font-size: 17px;
            font-weight: 500;
            margin-left: 30px;
        }
    }
}
