.organism-form .row {
	padding: 15px 25%;
}
.organism-form .row input,
.organism-form .row textarea {
	display: block;
	width: 90%;
	border-color: lightgray;
	border-radius: 4px;
	box-shadow: none;
	height: 20px;
	padding: 2% 5%;
	color: #3e403f;
	font-weight: 500;
	line-height: 1.5;
	font-size: 14px;
	border-style: solid;
	text-shadow: none;
	border-width: thin;
}
.organism-form .row textarea {
	padding-left: 3%;
	width: 92%;
}
@media only screen and (max-width: 767px) {
	.organism-form .row .mobileSpecific {
		padding-top: 30px;
	}
	.organism-form .row .mobileSpecific textarea {
		padding-left: 5%;
	}
}

@keyframes marquee {
	0% {
		transform: translate(0, 0);
		animation-timing-function: ease-in;
	}
	100% {
		transform: translate(-100%, 0);
		animation-timing-function: ease-out;
	}
}
